{%  extends "global/Page.html" %}
{% load static %}

{% block title %} Panduan {% endblock %}
{%block content%}

    <h1>Panduan mengikuti eksperimen Collective Action</h1>
	<p>Berikut panduan dan peraturan yang harus kalian terapkan untuk mengikuti eksperimen Collective Action. <br/>Silahkan tonton video di bawah ini :</p>
    <!--<video controls="true"> <source src="https://youtu.be/Bs17iwTCvrw" type="video/mp4"></source></video>-->
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Bs17iwTCvrw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/>
	<p>Apakah anda ingin mengunduh file panduan eksperimen Collective Action?</p>
<br/>
	<a href=”zurich_nov_6_2018_otree_workshop.pdf” download>Download file</a>
<br/>
			<button type="submit">Selanjutnya</button>
{% endblock %}