{%  extends "global/Page.html" %}
{% load otree static %}

{% block title %} Ronde Satu {% endblock %}
{% block content %}
<h1>Soal aljabar</h1>
<p>Selesaikan 10 soal di bawah ini. Tulis jawaban Anda dalam 2 angka desimal. Anda dibolehkan menggunakan alat seperti kalkulator untuk membantu Anda.
</p>
<h2>Soal huruf vokal</h2>
<p>Selesaikan 10 soal di bawah ini dengan menulis jumlah huruf hidup dari tiap kata berikut ini.</p>
<br>
<button type="submit">Selanjutnya</button>
{% endblock %}